:root {
  --acent-color: #2196f3;
  --logo-dark-color: #000000;
  --main-color: #757575;
  --title-color: #212121;
  --white-color: #ffffff;
  --backgroud-dark-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --background-light-color: #f5f4fa;
  --icon-main-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --portfolio-item-gep: 30px;
  --time-transition: 250ms;
  --duration-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3 {
  color: var(--title-color);
}

h1,
h2,
h3,
p,
a,
button {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: var(--main-color);
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17%em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  margin-right: -10px;
  justify-content: center;
}

.social-list-item {
  display: flex;
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--icon-main-color);
  transition: var(--time-transition) var(--duration-transition);
}

.social-link:hover,
.social-link:focus,
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--acent-color);
  fill: var(--white-color);
}

.social-link-item {
  width: 20px;
  height: 20px;
}

.btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: var(--main-font);
  color: var(--white-color);
  background-color: var(--acent-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.button-studio-hero {
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.logo-header {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.17;
  color: var(--logo-dark-color);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-web {
  color: var(--acent-color);
}

header.portfolio {
  border-bottom: 1px solid #ececec;
}

header > .container {
  display: flex;
  align-items: center;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

nav {
  display: flex;
  align-items: center;
}

.nav,
.header-address {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link-item:not(:last-child),
.header-address-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: inline-block;
  padding: 32px 0;
  color: var(--title-color);
  text-decoration: none;
  transition: var(--time-transition) var(--duration-transition);
}

.header-address {
  margin-left: auto;
}

.header-address-item {
  display: flex;
}

.address-item,
.header-address-list {
  display: flex;
  color: var(--main-color);
  fill: var(--main-color);
  transition: var(--time-transition) var(--duration-transition);
}

.nav-link:hover,
.nav-link:focus,
.address-item:hover,
.address-item:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.address-icon {
  margin-right: 10px;
  margin-top: 1px;
}

.current {
  position: relative;
  display: block;
  color: var(--acent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--acent-color);
  border-radius: 2px;
}

.footer {
  background-color: var(--backgroud-dark-color);
}

.container.footer {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.17;
  color: var(--white-color);
}

.footer-list-link,
.footer-join-text,
.footer-subscribe-call {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.footer-list-link {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-link.map-link {
  color: var(--white-color);
}

.footer-join-text,
.footer-subscribe-call {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-join {
  margin-left: 70px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.subscribe-form {
  display: flex;
  /* align-items: center; */
}

.subscribe-input {
  width: 358px;
  padding-left: 16px;
  background-color: transparent;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-address-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input::placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-address-color);
}

.footer-subscribe {
  margin-left: 93px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 29px;
  margin-left: 12px;
}

.icon-send {
  fill: white;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.features-list {
  display: flex;
  margin-bottom: 94px;
}

.features-pic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-light-color);
  border-radius: 4px;
}

.features-pic {
  width: 70px;
  height: 70px;
}

.features-list-item {
  max-width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.container.hero {
  display: block;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: var(--white-color);
}

.works-list {
  display: flex;
}

.works-list-item {
  position: relative;
}

.works-list-item:not(:last-child) {
  margin-right: 30px;
}

.works-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  background-color: var(--background-light-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--white-color);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-pic {
  margin-bottom: 30px;
}

.team-item-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-item-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  fill: var(--icon-main-color);
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  transition: var(--time-transition) var(--duration-transition);
}

.clients-item-link:hover,
.clients-item-link:focus {
  fill: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42.6px;
}

.logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88.48px;
  height: 45.44px;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transition: var(--time-transition) var(--duration-transition);
}

.modal.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--time-transition) var(--duration-transition);
}

.modal.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.8);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.icon-close {
  width: 100%;
  height: 100%;
}

/* modal form */
.modal__text {
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-form-field,
.form-input-wraper,
.form-input-wraper > input,
.modal-form-field > textarea {
  display: block;
}

.form-input-wraper > input,
.modal-form-field > textarea {
  margin-top: 4px;
}

.modal-form-field,
.modal-accept-conditions {
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.form-input-wraper > input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--time-transition) var(--duration-transition);
}

.form-input-wraper > input:focus,
.user-message:focus {
  outline: none;
  border-color: var(--acent-color);
}

.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-color);
  transition: var(--time-transition) var(--duration-transition);
}

.icon-input:hover {
  fill: var(--acent-color);
}

.form-input-wraper > input:focus + .icon-input {
  fill: var(--acent-color);
}

.form-input-wraper {
  display: block;
  position: relative;
}

.modal-form-field.message {
  margin-bottom: 20px;
}

.user-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: var(--time-transition) var(--duration-transition);
}

.user-message::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-conditions {
  position: relative;
  margin-bottom: 30px;
  display: block;
}

.modal-form-conditions > input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal-accept-conditions::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -24px;
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: var(--time-transition) var(--duration-transition);
}

.modal-accept-conditions {
  position: absolute;
  top: 0;
  left: 36px;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

.modal-accept-conditions > a {
  display: inline-block;
  margin-left: 5px;
  text-decoration-skip-ink: none;
  color: var(--acent-color);
}

.modal-form-conditions > input:checked + .modal-accept-conditions::before {
  content: "";
  display: inline-block;
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--acent-color);
  background-image: url(../images/original-images/icons-original/icon-check.svg);
  width: 16px;
  height: 15px;
  /* transform: translateY(-50%); */
}

.modal-form-submit {
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */