.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transition: var(--time-transition) var(--duration-transition);

  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--time-transition) var(--duration-transition);

  .modal.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.close {
  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 5px;

    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}

/* modal form */

.modal-form__header {
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-form__label {
  display: block;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;

  &message {
    margin-bottom: 20px;
  }
}

.modal-form__input {
  display: block;

  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: var(--time-transition) var(--duration-transition);

  &:focus {
    outline: none;
    border-color: var(--acent-color);
  }
}

.modal-form__wraper {
  display: block;
  position: relative;
}

.modal-form__message {
  display: block;
  margin-top: 4px;

  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: var(--time-transition) var(--duration-transition);

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--acent-color);
  }
}

.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: var(--title-color);

  transition: var(--time-transition) var(--duration-transition);

  &:hover,
  .modal-form__input:focus + & {
    fill: var(--acent-color);
  }
}

.modal-form__agreement {
  position: relative;
  margin-bottom: 30px;
  display: block;
}

.modal-form__agreement > input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
// .checkbox {
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   appearance: none;
// }

.modal-form__accept {
  position: absolute;
  top: 0;
  left: 36px;

  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -24px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;

    transition: var(--time-transition) var(--duration-transition);
  }
}

.modal-form__link {
  display: inline-block;
  margin-left: 5px;
  text-decoration-skip-ink: none;
  color: var(--acent-color);
}

.modal-form__agreement > input :checked + .modal-form__accept::before {
  content: "";
  display: inline-block;
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--acent-color);
  background-image: url(../../../images/original-images/icons-original/icon-check.svg);
  width: 16px;
  height: 15px;
}

.submit__btn:hover {
  background-color: red;
}

.submit__btn {
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
