.logo-header {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.17;
  color: var(--logo-dark-color);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-web {
  color: var(--acent-color);
}
