.social-list {
  display: flex;
  margin-right: -10px;
  justify-content: center;
}

.social-list-item {
  display: flex;
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--icon-main);

  transition: var(--time-transition) var(--duration-transition);
}

.social-link:hover,
.social-link:focus,
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--acent-color);
  fill: var(--white-color);
}

.social-link-item {
  width: 20px;
  height: 20px;
}
